@media only screen and (orientation: portrait) {
	body {
		justify-content: space-between;
		padding: 2rem;
	}

	.calculator {
		width: 100%;
	}

	.btn-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (hover: hover) {
	.btn:hover {
		background-color: rgb(188, 186, 186);
	}
}
