*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100vh;
	width: 100vw;
}

body {
	background-color: rgb(242, 242, 242);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	font-size: 16px;
	line-height: 1.8;
}

.calculator {
	display: grid;
	row-gap: 25px;
	min-width: 350px;
	max-width: 600px;
	width: 60vw;
}

.display {
	background-color: rgb(180, 180, 180);
	border-radius: 10px 10px 5px 5px;
	max-height: 180px;
	font-size: 2rem;
	text-align: right;
	padding: 4rem;
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
}

.btn {
	background-color: rgb(219, 214, 214);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.75rem;
}
